<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand text-light" href="/">Library Management System</a>
  <form class="form-inline">
    <a class="btn  my-2 my-sm-0 bg-light mr-2" href="/" role="button">Home</a>
    <a class="btn  my-2 my-sm-0 bg-light mr-2" href="/addBook" role="button">Add Book</a>
    <a class="btn  my-2 my-sm-0 bg-light mr-2" href="/listoftakenbooks" role="button">List Of user</a>
    <a class="btn  my-2 my-sm-0 bg-light" href="/addentry" role="button">Add Entry</a>
  </form>
</nav>